@model Metadados.Models.Objeto_localizacao

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="sky_objeto_localizacao" />
            <div class="form-group">
                <label asp-for="sky_localizacao_tipo" class="control-label"></label>
                <input asp-for="sky_localizacao_tipo" class="form-control" />
                <span asp-validation-for="sky_localizacao_tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nom_objeto_identificador" class="control-label"></label>
                <input asp-for="nom_objeto_identificador" class="form-control" />
                <span asp-validation-for="nom_objeto_identificador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dsc_endereco_localizacao" class="control-label"></label>
                <input asp-for="dsc_endereco_localizacao" class="form-control" />
                <span asp-validation-for="dsc_endereco_localizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="num_porta" class="control-label"></label>
                <input asp-for="num_porta" class="form-control" />
                <span asp-validation-for="num_porta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nom_usuario" class="control-label"></label>
                <input asp-for="nom_usuario" class="form-control" />
                <span asp-validation-for="nom_usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nom_password" class="control-label"></label>
                <input asp-for="nom_password" class="form-control" />
                <span asp-validation-for="nom_password" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="nom_fornecedor" class="control-label"></label>
                <input asp-for="nom_fornecedor" class="form-control" />
                <span asp-validation-for="nom_fornecedor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
