@model  Metadados.Models.Objeto_tipo


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Cadastro_objeto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nom_objeto_tipo" class="control-label"></label>
                <input asp-for="nom_objeto_tipo" class="form-control" />
                <span asp-validation-for="nom_objeto_tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <input class="btn btn-primary" type="submit" value="Back to list" class="col-sm-6 col-form-label"asp-action="Index" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
