@model Metadados.Models.Objeto_tipo


@{
       ViewData["Title"] = "Delete";
}
<h3>Tem certeza que deseja deletar este objeto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nom_objeto_tipo)
        </dt>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="sky_objeto_tipo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index">Back to List</a>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}