@model Metadados.Models.ViewModels.ObjetoconfiguracaoViewModel




@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Cadastro_objeto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
             <label asp-for="Objeto_configuracao.sky_objeto_tipo" class="control-label"></label>
             <select asp-for="Objeto_configuracao.sky_objeto_tipo" asp-items="@(new SelectList(Model.oObjeto_tipo,"sky_objeto_tipo","nom_objeto_tipo"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Objeto_configuracao.dsc_delimitador_coluna" class="control-label"></label>
                <input asp-for="Objeto_configuracao.dsc_delimitador_coluna" class="form-control" />
                <span asp-validation-for="Objeto_configuracao.dsc_delimitador_coluna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Objeto_configuracao.dsc_delimitador_detalhe" class="control-label"></label>
                <input asp-for="Objeto_configuracao.dsc_delimitador_detalhe" class="form-control" />
                <span asp-validation-for="Objeto_configuracao.dsc_delimitador_detalhe" class="text-danger"></span>
            </div>
            <div class="form-group">
             <label asp-for="Objeto_configuracao.dsc_qualificador_texto" class="control-label"></label>
             <input asp-for="Objeto_configuracao.dsc_qualificador_texto" class="form-control" />
             <span asp-validation-for="Objeto_configuracao.dsc_qualificador_texto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Objeto_configuracao.dsc_encode" class="control-label"></label>
                <input asp-for="Objeto_configuracao.dsc_encode" class="form-control" />
                <span asp-validation-for="Objeto_configuracao.dsc_encode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Objeto_configuracao.num_pular_linha" class="control-label"></label>
                <input asp-for="Objeto_configuracao.num_pular_linha" class="form-control" />
                <span asp-validation-for="Objeto_configuracao.num_pular_linha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
