<!DOCTYPE html>
<html lang="en">
<head>

    <title>Data Plataform</title>


    <!-- Template Main CSS File -->
    <link href="/lib/bootstrap/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/bootstrap/assets/css/style.css" rel="stylesheet">
    
    <!-- Icons-->
    <link href="/lib/bootstrap/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

    <!-- Template for Datatable -->
    <link href ="/lib/bootstrap/assets/vendor/Content/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet">
  
    

    


    
    <script src="/lib/jquery/dist/jquery.min.js"></script>

</head>
<body>


    <!-- ======= Sidebar ======= -->
      <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">


                  <li class="nav-item">
                        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                              <i class="bi bi-menu-button-wide"></i><span>Cadastros</span><i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                              <li>
                                    
                                    <a  asp-area="" asp-controller="Objeto" asp-action="Index"><i class="bi bi-circle"></i>Objeto</a>
                              </li>
                              <li>
                                    <a class="link-dark rounded" asp-area="" asp-controller="Objeto_configuracao" asp-action="Index"><i class="bi bi-circle"></i>Objeto Configuração </a>
                              </li>
                              <li>
                                    <a class="link-dark rounded" asp-area="" asp-controller="Objeto_localizacao" asp-action="Index"><i class="bi bi-circle"></i>Objeto Localização</a>
                              </li>
                               <li>
                                    <a class="link-dark rounded" asp-area="" asp-controller="Objeto_tipo" asp-action="Index"><i class="bi bi-circle"></i>Objeto Tipo</a>
                              </li>
                              <li>
                                    <a class="link-dark rounded" asp-area="" asp-controller="Pipeline" asp-action="Index"><i class="bi bi-circle"></i>Pipeline</a>
                              </li>
                              <li>
                                    <a class="link-dark rounded" asp-area="" asp-controller="Localizacao_tipo" asp-action="Index"><i class="bi bi-circle"></i>Localização Tipo</a>
                              </li>
                              <li>
                                    <a class="link-dark rounded" asp-area="" asp-controller="Mapeamento" asp-action="Index"><i class="bi bi-circle"></i>Mapeamento</a>
                              </li>
                            
                        </ul>
                  </li><!-- End Components Nav -->
            </ul>
      </aside>

    <main>
         <!-- ======= Header ======= -->
        <div id="header" class="header d-flex align-items-center">
            <div class="d-flex align-items-center justify-content-between">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <img src="~/img/logo.png" alt="">
                        <span class="d-none d-lg-block">Data Plataform</span>
                    </a>
                    <i class="bi bi-list toggle-sidebar-btn"></i>
            </div>
        </div>
        <!-- ======= Body ======= -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 pt-3">
                    @RenderBody()
                    @RenderSection("Scripts")
                </div>
             </div>
        </div>
    </main>
    <!-- Vendor JS Files -->
 
 
    <script src="/lib/bootstrap/assets/vendor/Content/Scripts/DataTables/jquery.dataTables.js"></script>

          <script type="text/javascript">
        $(document).ready(function (){
            $('#myTable').DataTable();
        });
    </script>
    <script src="/lib/bootstrap/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/lib/bootstrap/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/bootstrap/assets/vendor/chart.js/chart.min.js"></script>
    <script src="/lib/bootstrap/assets/vendor/echarts/echarts.min.js"></script>
    <script src="/lib/bootstrap/assets/vendor/quill/quill.min.js"></script>
    <script src="/lib/bootstrap/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/lib/bootstrap/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/lib/bootstrap/assets/vendor/php-email-form/validate.js"></script>
   
  

    <!-- Template Main JS File -->
    <script src="/lib/bootstrap/assets/js/main.js"></script>

</body>
</html>

